.mtr-textarea, .mtr-preview {
  width: 95%;
  margin: 0 auto;
  display: block;
}
.mtr-code, .mtr-code-component {
  background-color: lightgrey
}

.mtr-blockquote {
  border-left: 2px solid grey;
  padding-left: 20px;
}
